@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
:root {
    --font-color1: #04ff00;
    --header-color: rgb(0 16 1 / 90%);
    --font-color2:  #fff;
    --backgr-color: #000016;
    --hover-color: rgb(248, 70, 0);
}
.products {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(250, 250, 250);

}
.image{
    margin-top: 40px;
    padding-left: 150px;
}
.photos{
    padding-left: 100px;
}
.photos img{
    width:  50px;
    height: 50px;
    border: 2px solid #04ff00;
    margin-left: 7px;
    
}
.photos img:hover{
    cursor: pointer;
    border: 3px solid rgb(10, 68, 10);
}
.main img{
    width: 600px;
    height: 500px;

}
.text{
    width:500px;
    margin-top: 30px;
    
}
.text > a {
    color: #fff;
    background-color: #04ff00;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 10px;
    transition: 0.7s ease;
}
.text > a:hover {
    background-color: #07621a;
    transform: scale(1.1);
}
.text > h4{
    margin-top: 0px;
}
.text > h3{
    margin-top: 25px;
}
.text > a{
    margin-top: 40px;
}
.text > h6{
    font-size: smaller;
}
.text > p{
    font-size: 1em;
    margin-top: 100px;
}
.text > e{
    font-size: smaller;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    width: 100%;
    height: 60px;
    z-index: 999;
    padding: 0 30px;
}


header .left-section{
    display: flex;
    align-items: center;
}

header .left-section a{
    display: flex;
    align-items: center;
}

header i{
    color: var(--font-color1);
    font-size: 2rem;
    font-weight: 500;
    padding-right: 30px;
    cursor: pointer;
    transition: var(--main-duration) ease;
}

header i:hover {
    color: var(--hover-color);
}

header .logo {
    text-decoration: none;
    color: var(--font-color1);
    font-weight: 400;
    font-size: 2rem;
    transition: var(--main-duration) ease;
}

header .logo:hover {
    color: var(--hover-color);
}

header .logo img {
    width: 60px;
    height: 40px;
    padding-right: 10px;
    
}


.navigation a {
    color: var(--font-color1);
    font-size: 1.7rem;
    font-weight: 500;
    padding-left: 30px;
    text-decoration: none;
    transition: var(--main-duration) ease;
}

.navigation a:hover {
    color: var(--hover-color);
}
@media (max-width: 500px) {
    .image{
        margin-top: 40px;
        padding-left: 15px;
    }
    .main img{
        width: 350px;
        height: 300px;
    
    }
    .photos{
        padding-left: 50px;
    }
}