@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
:root {
    --font-color1: #04ff00;
    --header-color: rgb(0 16 1 / 90%);
    --font-color2:  #fff;
    --backgr-color: #000016;
    --hover-color: rgb(248, 70, 0);
    --main-duration: 0.5s;
}
/*  Start global rules */


.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */       
.grid { 
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 20px;
align-items: stretch;
}
.grid > div {
border: 1px solid #ccc;
box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
transition: 0.7s ease;
}
.grid > div:hover {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    transform: scale(1.1);
}
.grid > div img {
max-width: 100%;
}
.text {
padding: 0 20px 20px;
}
.text > a {
display: block;
text-align: center;
text-decoration: none;  
color: #fff;
background-color: #3a6cf4;
border: 0;
padding: 10px;
width: 100%;
}
.hea{
    color: #ddd;
}
.layot{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
}
.left > h2{
    color: #000;
    width: 500px;
    font-size: 1.8em;
    font-weight: 800;
}
.left > p{
    color: rgb(59, 45, 45);
    width: 500px;
    font-size: 0.8em;
    font-weight: 300;
}
.right > img{
    width: 500px;
    height: 500px;
}
.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 10px;
    transition: 0.7s ease;
}
.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

@media (max-width:641px){   
    .left > p{
        color: rgb(59, 45, 45);
        width: 350px;
        font-size: 0.8em;
        font-weight: 300;
    }
    .grid { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
    }
}
/* HEADER*/

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    width: 100%;
    height: 60px;
    z-index: 999;
    padding: 0 30px;
}


header .left-section{
    display: flex;
    align-items: center;
}

header .left-section a{
    display: flex;
    align-items: center;
}

header i{
    color: var(--font-color1);
    font-size: 1.1rem;
    font-weight: 500;
    padding-right: 30px;
    cursor: pointer;
    transition: var(--main-duration) ease;
}

header i:hover {
    color: var(--hover-color);
}

header .logo {
    text-decoration: none;
    color: var(--font-color1);
    font-weight: 400;
    font-size: 1.5rem;
    transition: var(--main-duration) ease;
}

header .logo:hover {
    color: var(--hover-color);
}

header .logo img {
    width: 60px;
    height: 40px;
    padding-right: 10px;
    
}


.navigation a {
    color: var(--font-color1);
    font-size: 1rem;
    font-weight: 500;
    padding-left: 30px;
    text-decoration: none;
    transition: var(--main-duration) ease;
}

.navigation a:hover {
    color: var(--hover-color);
}
/* end header */